* the full form area */
#calc-form {
 border: 1px solid #333;
 /* padding: 17px; */
 border-radius: 7px;
 box-shadow: 0px 3px 5px #444;
 width: 300px;
 
}

#calc-heading {
 background: #a0ce4e;
 color: #fff;
 font-size: 26px;
 border-bottom: 1px solid #333;
 padding: 17px;
 border-radius: 7px 7px 0px 0px;
 font-family: times, serif;
 text-align: center;
 text-shadow: 1px 1px 1px #0a0909;
 letter-spacing: 1.8px;
}

/* Space between salg produkter and the next line velg antall deltagere i gruppen */
.resultat-salgprodukter {
	margin-bottom: 10px;
}


#calc-content {
 padding: 13px;
 font-size: 18px;
 background: #f8f1f1;
}

.styled-output {
 clear: both;
 
 /* text-align: center; */
 margin: 5px 0 0 0;
 padding: 5px 10px 0 9px;
 /* width: 75px; */ 
 
 text-align: center;
 border: 1px solid #dbc9c9;
 color: #67990f;
 font-size: 20px;
}

.resultat-salgdeltager {
 text-align: center;
 color: #67990f;
 margin-bottom: 7px;
 font-size: 18px;
} 

#calc-sammendrag-heading {
 font-size: 26px;
 border-bottom: 1px solid #333;
 padding: 17px;
 border-radius: 7px 7px 0px 0px;
 font-family: times, serif;
 text-align: center;
}

.calc-sammendrag {
 text-align: left;
 /* border: 1px solid #333; */
 padding: 4px;
}



 
input[type=range] {
 -webkit-appearance: none;
 margin: 5px 0 25px 0;
 width: 100%;
}

input[type=range]:focus {
 outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height: 8.4px;
 cursor: pointer;
 animate: 0.2s;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 background: #3071a9;
 border-radius: 1.3px;
 border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 border: 1px solid #000000;
 height: 22px;
 width: 25px; /* Changed */
 border-radius: 10px; /* 3px */
 background: #a0ce4e; /* #fff */
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: -7px; /* Changed */
 
}
input[type=range]:focus::-webkit-slider-runnable-track {
 background: #367ebd;
}
input[type=range]::-moz-range-track {
 width: 100%;
 height: 8.4px;
 cursor: pointer;
 animate: 0.2s;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 background: #3071a9;
 border-radius: 1.3px;
 border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 border: 1px solid #000000;
 height: 36px;
 width: 16px;
 border-radius: 3px;
 background: #ffffff;
 cursor: pointer;
}
input[type=range]::-ms-track {
 width: 100%;
 height: 8.4px;
 cursor: pointer;
 animate: 0.2s;
 background: transparent;
 border-color: transparent;
 border-width: 16px 0;
 color: transparent;
}
input[type=range]::-ms-fill-lower {
 background: #2a6495;
 border: 0.2px solid #010101;
 border-radius: 2.6px;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
 background: #3071a9;
 border: 0.2px solid #010101;
 border-radius: 2.6px;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 border: 1px solid #000000;
 height: 36px;
 width: 16px;
 border-radius: 3px;
 background: #ffffff;
 cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
 background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
 background: #367ebd;
}
